name: Build and Deploy Standalone (Linux)

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - 'app/**'
      - 'components/**'
      - 'public/**'
      - 'next.config.mjs'
      - 'package.json'
      - 'package-lock.json'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'
        
    - name: Install dependencies
      run: npm ci
      
    - name: Build standalone
      run: npm run standalone
      
    - name: Deploy files via SSH
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        script: |
          find /home/${{ secrets.USERNAME }}/domains/${{ secrets.DOMAIN }}/public_html/ -mindepth 1 ! -name '.well-known' ! -name '.htaccess' ! -name 'robots.txt' -exec rm -rf {} +
          rsync -avz .next/standalone/ /home/${{ secrets.USERNAME }}/domains/${{ secrets.DOMAIN }}/public_html/
          touch /home/${{ secrets.USERNAME }}/domains/${{ secrets.DOMAIN }}/public_html/tmp/restart.txt
